<!DOCTYPE html>
<!-- This code is for the login page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login page">
    <title>Login</title>

    <link rel="stylesheet" href="/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css">  -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body class="altbody">

    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password" required>
          </div>
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Or Login with <a class="link" href="/auth/github">GitHub</a></p>
        <p>Don't have an account? <a class="link" href="/register">Register</a></p>
      </div>

      <% if (message.error && message.error.length > 0) { %>
        <script>
            alert("<%= message.error[0] %>");
        </script>
    <% } %>

    <% if (message && message.length > 0) { %>
      <script>
          alert("<%= message.error[0] %>");
      </script>
  <% } %>
    
</body>
</html>
