body {
    border: 3px solid #0054e8;
    background-color: #ece9d8;
}

canvas {
    border: 5px solid #87847f;
    
    background-color: #ffffff;
}

.icon{
    height: 2em;
    margin: auto;
    text-align: center;
}

.toolbar {
    order: -1;
    background-color: #ece9d8;
}

.canvas {
    order: 1;
}

.interactive {
    display: flex;
    gap: 10px;
}

.colorBar {
    button {
        border: 1px solid #333;
        margin: 0 0 5px 5px;
        padding: 1em;
        cursor: pointer;
    }
  }

